<h1>Telegram Login</h1>


<h2>Phone Number Step 1</h2>

<input #phoneNumber type="text" />
<button (click)="onSendPhoneNumber(phoneNumber.value); phoneNumber.value=''">
  Send Phone Number
</button>


<h2>Telegram Code Step 2</h2>

<input #telegramCode type="text" />
<button (click)="onSignIn(telegramCode.value); telegramCode.value=''">
  Send Code
</button>


<h1>Messages</h1>


<input #_requestedChannel type="text" />
<button (click)="requestedChannel.next(_requestedChannel.value); _requestedChannel.value=''">
  request messages
</button>

<h2>Messages of {{ requestedChannel | async }}</h2>

<div>
  <ul>
    <li *ngFor="let message of historyMessages$ | async">{{ getDateFromUnix(message.date) }}:{{ message.message }}</li>
  </ul>
</div>